@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<ul>
    @foreach (var claims in User.Claims)
    {
        <li><strong>@claims.Type</strong>: @claims.Value</li>
    }
</ul>